.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.imageSrc{
  width: 900px;
    height: 600px;
    display: block;
    margin: auto
}
.maVideo{
  width: 900px;
    height: 600px;
  display: block;
  margin: auto;
}